html {
  font-family: "Work Sans", sans-serif;
}

@media (min-width: 320px) and (max-width: 1399px) {
  .audience {
    background: rgba(0, 161, 198, 0.07);
    width: 320px;
    height: 1808px;
    margin: auto;
  }
  .headl__title {
    min-width: 290px;
    height: 34px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 50px;
    color: #2b292d;
    font-weight: 700;
    line-height: 34px;
    font-size: 22px;
    text-align: center;
    color: #2b292d;
  }
  .headl__subtitle {
    width: 290px;
    height: 80px;
    margin-top: 17px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 700;
    color: #2b292d;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #2b292d;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .main__text {
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 24px;
    line-height: 34px;
    width: 290px;
    height: 136px;
    text-align: center;
    color: #2b292d;
    margin-bottom: 30px;
  }
  .main__button {
    display: flex;
    flex-direction: column;
  }
  .main__button-first {
    background-color: #3040c4;
    color: #fff;
    width: 290px;
    height: 48px;
    border-radius: 2px;
    border: none;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    font-weight: 700;
  }
  .main__button-second {
    background-color: #fff;
    color: #000;
    width: 290px;
    height: 48px;
    border-radius: 2px;
    border: none;
    font-size: 18px;
    text-align: center;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 12px;
    cursor: pointer;
    font-weight: 700;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .card__background {
    margin-top: 15px;
    min-width: 290px;
    height: 300px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  .card__background:first-child {
    margin-top: 40px;
  }
  .card__span {
    min-width: 250px;
    height: 28px;
    line-height: 28px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 22px;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    color: #2b292d;
    cursor: pointer;
  }
  .card__background:hover > .card__span {
    color: #fff;
  }
  .card__background:hover {
    background-color: #3141c5;
  }
  .card__first {
    cursor: pointer;
  }
  .card__second {
    cursor: pointer;
  }
  .card__third {
    cursor: pointer;
  }
  .card__fourth {
    cursor: pointer;
  }
  img {
    width: 138px;
    flex-grow: 1;
    height: 195px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 22px;
    z-index: 1;
  }
}
@media screen and (min-width: 1400px) {
  .audience {
    background: rgba(0, 161, 198, 0.07);
    width: 1400px;
    height: 983px;
    margin: auto;
  }
  .headl__title {
    min-width: 168px;
    height: 34px;
    margin-left: 616px;
    margin-right: 616px;
    padding-top: 108px;
    color: #2b292d;
    font-weight: 700;
    line-height: 34px;
    font-size: 22px;
    text-align: center;
    color: #2b292d;
  }
  .headl__subtitle {
    min-width: 555px;
    height: 112px;
    margin-top: 24px;
    margin-left: 422px;
    margin-right: 423px;
    font-weight: 700;
    color: #2b292d;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #2b292d;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__text {
    margin-top: 30px;
    margin-left: 422px;
    margin-right: 423px;
    font-size: 24px;
    line-height: 34px;
    width: 555px;
    height: 72px;
    text-align: center;
    color: #2b292d;
    margin-bottom: 34px;
    margin: auto;
  }
  .main__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 34px;
  }
  .main__button-first {
    background-color: #3040c4;
    color: #fff;
    width: 160px;
    height: 48px;
    border-radius: 2px;
    border: none;
    font-size: 18px;
    text-align: center;
    margin-left: 536px;
    line-height: 13px;
    cursor: pointer;
    font-weight: 700;
  }
  .main__button-second {
    background-color: #fff;
    color: #000;
    width: 158px;
    height: 48px;
    border-radius: 2px;
    border: none;
    font-size: 18px;
    line-height: 13px;
    text-align: center;
    margin: auto;
    margin-right: 536px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 700;
  }
  .card {
    display: flex;
    flex-direction: row;
  }
  .card__background {
    margin-top: 111px;
    width: 262px;
    height: 300px;
    margin-left: 30px;
    background-color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  .card__background:first-child {
    margin-left: 130px;
  }
  .card__background:last-child {
    margin-right: 131px;
  }
  .card__span {
    width: 212px;
    height: 28px;
    line-height: 28px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 22px;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    font-weight: 700;
    color: #2b292d;
    cursor: pointer;
  }
  .card__background:hover > .card__span {
    color: #fff;
  }
  .card__background:hover {
    background-color: #3141c5;
  }
  .card__first {
    cursor: pointer;
  }
  .card__second {
    cursor: pointer;
  }
  .card__third {
    cursor: pointer;
  }
  .card__fourth {
    cursor: pointer;
  }
  img {
    width: 138px;
    flex-grow: 1;
    height: 195px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 22px;
    z-index: 1;
  }
}
@media (min-width: 320px) and (max-width: 1399px) {
  .conteiner {
    width: 320px;
    height: 890px;
    margin: auto;
  }
  .header {
    width: 320px;
    height: 64px;
    display: flex;
    margin: auto;
  }
  .header__image {
    width: 48px;
    height: 48px;
    margin: auto;
    margin-top: 8px;
    margin-left: 15px;
    margin-right: 13px;
  }
  .header__description-logo {
    width: 111px;
    height: 25px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
  }
  .header__description-name {
    display: none;
  }
  .header__navigation {
    width: 58px;
    height: 64px;
    border-left: 1px solid #000;
    opacity: 0.15;
    margin-left: 74px;
  }
  .header__button_unvisible {
    display: none;
  }
  .nav {
    display: none;
  }
  i {
    margin-left: 20px;
    margin-top: 25px;
    cursor: pointer;
  }
  .headline {
    width: 320px;
    background-color: #f3c6bd;
    margin: auto;
  }
  .headline__title {
    width: 290px;
    height: 205px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: #2b292d;
    letter-spacing: -0.31px;
  }
  .headline__subtitle {
    width: 290px;
    height: 172px;
    margin-left: 15px;
    font-size: 24px;
    line-height: 34px;
    margin-top: 18px;
    margin-right: 15px;
    color: #2b292d;
  }
  .headline__img {
    width: 320px;
    height: 180px;
    margin-top: 33px;
    margin-bottom: 36px;
  }
  .button {
    display: flex;
    flex-direction: column;
  }
  .button__blue {
    width: 290px;
    height: 48px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 30px;
    background-color: #3040c4;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 18px;
    line-height: 13px;
    font-weight: 700;
  }
  .button__white {
    width: 290px;
    height: 48px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 2px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
}
@media (min-width: 1400px) {
  .conteiner {
    width: 1400px;
    height: 710px;
    background-color: #f3c6bd;
    margin: auto;
  }
  .header {
    height: 62px;
    display: flex;
    width: 1140px;
    margin: auto;
  }
  .header__image {
    max-width: 60px;
    height: 60px;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
  }
  .header__description {
    width: 222px;
    max-height: 51px;
    align-self: center;
  }
  .header__description-logo {
    font-size: 20px;
    color: #000;
    line-height: 25px;
    font-weight: 700;
  }
  .header__description-name {
    font-size: 18px;
    color: #2b292d;
    opacity: 0.6;
    line-height: 25px;
  }
  .header__navigation {
    display: none;
  }
  .header__button_unvisible {
    margin-right: 0;
    min-width: 160px;
    height: 48px;
    line-height: 13px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background-color: #3040c4;
    margin: 0;
    margin-right: 0;
    align-self: center;
    font-weight: 700;
  }
  i {
    display: none;
  }
  .nav {
    width: 284px;
    height: 25px;
    align-self: center;
    display: flex;
    margin-left: 250px;
    margin-right: auto;
  }
  .nav__list {
    color: #2b292d;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    margin-left: 50px;
  }
  .nav__list_bold {
    font-weight: 700;
  }
  .nav__arrow {
    max-width: 5px;
    height: 8px;
    margin-left: 11px;
    margin-top: 12px;
  }
  .headline {
    display: flex;
    flex-direction: column;
    width: 1210px;
    height: 710px;
    margin-top: 81px;
    margin-left: 125px;
  }
  .headline__img {
    width: 796px;
    height: 448px;
    position: relative;
    bottom: 354px;
    left: 250px;
  }
  .headline__title {
    width: 754px;
    height: 174px;
    font-size: 80px;
    line-height: 78px;
    font-weight: 700;
    letter-spacing: -0.5px;
    z-index: 2;
    color: #2b292d;
  }
  .headline__subtitle {
    width: 456px;
    height: 376px;
    margin-top: 34px;
    z-index: 1;
    font-size: 24px;
    line-height: 34px;
    color: #2b292d;
  }
  .button {
    display: flex;
  }
  .button__blue {
    width: 160px;
    height: 48px;
    border-radius: 2px;
    background-color: #3040c4;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    position: relative;
    top: 80px;
  }
  .button__white {
    width: 158px;
    height: 48px;
    text-align: center;
    border-radius: 2px;
    background-color: #fff;
    color: #3040c4;
    position: relative;
    top: 80px;
  }
}

/*# sourceMappingURL=styles.css.map */
