/* Error: Missing element $green.
 *   ,
 * 9 |     background: rgba($aqua);
 *   |                 ^^^^^^^^^^^
 *   '
 *   style\index.scss 9:17       @content
 *   style\breakpoints.scss 6:5  for-extra-small()
 *   style\index.scss 7:1        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing element $green.\a   \2577 \a 9 \2502      background: rgba($aqua);\d\a   \2502                  ^^^^^^^^^^^\a   \2575 \a   style\\index.scss 9:17       @content\a   style\\breakpoints.scss 6:5  for-extra-small()\a   style\\index.scss 7:1        root stylesheet";
}
