$mn: 1400px;
$mn1: 320px;
$mx: 1399px;
@mixin for-extra-small {
  @media (min-width: $mn1) and (max-width: $mx) {
    @content;
  }
}
@mixin for-extra-big {
  @media screen and (min-width: $mn) {
    @content;
  }
}
@mixin for-small {
  @media (min-width: $mn1) and (max-width: $mx) {
    @content;
  }
}
@mixin for-big {
  @media (min-width: $mn) {
    @content;
  }
}
@mixin little {
  @media (min-width: $mn1) and (max-width: $mx) {
    @content;
  }
}
@mixin little-page {
  @media (min-width: $mn1) and (max-width: $mx) {
    @content;
  }
}
@mixin big-page {
  @media (min-width: $mn) {
    @content;
  }
}
@mixin big {
  @media screen and (min-width: $mn) {
    @content;
  }
}
@mixin for-little {
  @media (min-width: $mn1) and (max-width: $mx) {
    @content;
  }
}
@mixin for-large {
  @media (min-width: $mn) {
    @content;
  }
}
