@import 'breakpoints.scss';
@import 'variables.scss';
html {
  font-family: 'Work Sans', sans-serif;
}

.audience {
  background: rgba($audience-color, 0.07);
  min-width: 320px;
  height: 1808px;
  margin: auto;
}
.headline {
  &_title {
    min-width: 290px;
    height: 34px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 50px;
    color: $headline-color;
    font-weight: 700;
    line-height: 34px;
    font-size: 22px;
    text-align: center;
  }
  &_subtitle {
    min-width: 290px;
    height: 80px;
    margin-top: 17px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 700;
    color: $headline-color;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
}
.main {
  display: flex;
  flex-direction: column;

  &-text {
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 24px;
    line-height: 34px;
    min-width: 290px;
    height: 136px;
    text-align: center;
    color: $headline-color;
    margin-bottom: 30px;
  }
  &_button {
    display: flex;
    flex-direction: column;

    &_first {
      background-color: $audience-color;
      color: $button-first-color;
      min-width: 290px;
      height: 48px;
      border-radius: 2px;
      border: none;
      margin: auto;
      margin-left: 15px;
      margin-right: 15px;
      font-size: 18px;
      text-align: center;
      line-height: 48px;
      cursor: pointer;
    }
    &_second {
      background-color: #fff;
      color: $button-second-color;
      min-width: 290px;
      height: 48px;
      border-radius: 2px;
      border: none;
      font-size: 18px;
      text-align: center;
      margin: auto;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 12px;
      cursor: pointer;
    }
  }
}
.card {
  display: flex;
  flex-direction: column;

  &_background {
    margin-top: 15px;
    min-width: 290px;
    height: 300px;
    margin-left: 15px;
    margin-right: 15px;

    background-color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  &_background:first-child {
    margin-top: 40px;
  }

  &_span {
    min-width: 250px;
    height: 28px;
    line-height: 28px;

    padding-left: 20px;
    padding-right: 20px;
    margin-top: 22px;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    color: #2b292d;
    cursor: pointer;
  }

  &_background:hover > &_span {
    color: $button-first-color;
  }
  &_background:hover {
    background-color: $audience-color;
  }
  &_first {
    cursor: pointer;
  }
  &_second {
    cursor: pointer;
  }
  &_third {
    cursor: pointer;
  }
  &__fourth {
    cursor: pointer;
  }
}
img {
  width: 138px;
  flex-grow: 1;
  height: 195px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 22px;
  z-index: 1;
}
@include for-extra-big {
  .audience {
    min-width: 1400px;
    height: 983px;
  }
  .headline {
    display: flex;
    flex-direction: column;
    &_title {
      width: 168px;
      padding-top: 108px;
      font-size: 22px;
      line-height: 34px;
      text-align: center;
      margin: auto;
    }
    &_subtitle {
      padding-top: 24px;
      margin-left: 422px;
      margin-right: 423px;
      width: 555px;
      height: 112px;
      line-height: 56px;
      font-size: 56px;
      text-align: center;
      margin: auto;
    }
  }
  .main {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    &-text {
      width: 555px;
      height: 72px;
      font-size: 24px;
      line-height: 34px;
      text-align: center;
      margin: auto;
    }
    &_button {
      display: flex;
      flex-direction: row;
      margin: auto;
      margin-top: 34px;
      &_first {
        width: 160px;
        height: 48px;
        margin: auto;
      }
      &_second {
        width: 158px;
        height: 48px;
        margin: auto;

        margin-left: 10px;
      }
    }
  }
  .card {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-top: 111px;

    &_background {
      width: 262px;
      height: 300px;
      margin-left: 20px;
    }
    &_span {
      width: 212px;
      height: 28px;
      line-height: 28px;
      font-size: 22px;

      margin-top: 22px;
    }
    &_background:first-child {
      position: relative;
      bottom: 25px;
      margin-left: 130px;
    }
  }
}
